@page
@model FSW.Core.ModelBase<Tests.Pages.IndexModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Index</h2>

<div id="AC_Test" style="width: 1000px; height: 400px"></div>

<hr />

<div id="AC_Test2" style="width: 1000px; height: 400px"></div>

